body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  background-color: #0078D7;
  color: white;
  padding: 10px;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px auto;
  width: 80%;
}



li {
  background-color: #0078D7;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  margin: 10px 0;
}

li:hover {
  background-color: #005bb5;
}

#main-content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#content {
  margin: 20px;
}

.content-section {
  display: none; /* Ensure all content sections are hidden by default */
  flex-direction: column; /* Stack text and image vertically */
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center the text */
  gap: 20px; /* Add spacing between text and image */
}
#pdisplay
{
  background-color: #0078D7;
  color: white;
  padding: 10px;
  text-align: center;
}
